
<!-- About Section -->
    <div class="container-fluid" id="about">
            <div class="row text-center">
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="glyphicon glyphicon-eye-open"></i> threejs</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-img"><img src="assets/img/threejs.jpg" alt="3D way" class="img img-rounded" /></div>
                            <br/>
                            <br/>
                            <div class="panel-body-main"><p><strong>Three.js</strong> allows the creation of GPU-accelerated 3D animations using the JavaScript language with the help of WebGL.</p>
                            <a href="http://threejs.org/" class="btn btn-default">Try yourself</a></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{ } TypeScript</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-img"><img src="assets/img/typescript.jpg" alt="3D way" class="img img-rounded" /></div>
                            <br/>
                            <br/>
                            <div class="panel-body-main"><p><strong>TypeScript</strong> is a typed superset of JavaScript that compiles to plain JavaScript.<br/> Any browser. Any host. Any OS. By Microsoft</p>
                            <a href="https://www.typescriptlang.org/" class="btn btn-default">Get started</a></div>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><img src="assets/img/angular-icon.png" alt="angular2" style="width:25px; height:25px" />Angular2</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-img">
                                <img src="assets/img/angular2.jpg"  alt="opensource" class="img img-rounded" />
                            </div>
                            <br/>
                            <br/>
                            <div class="panel-body-main">
                                <p><strong>Angular2</strong> takes a web component-based approach to building powerful <strong>single page applications</strong> for the web.</p>
                            <a href="https://angular.io" class="btn btn-default">Learn more</a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
    </div>
<!-- Features Section ends -->

