<div class="text-center demo">
  <p class="title-demo">Different types of light models in computer graphics</p>
  
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group"> 
    <a class="btn btn-primary" role="button" (click)="toggle($event.target,'point')" >Hide Point light</a>
    <a class="btn btn-primary" role="button" (click)="toggle($event.target,'spot')" >Show Spot light</a>
    <a class="btn btn-primary" role="button" (click)="toggle($event.target,'directional')" >Hide Directional light</a> 
    <a class="btn btn-primary" role="button" (click)="toggle($event.target,'ambient')" >Hide Ambient light</a> 
  </div>
  
  <div id="graphics-space"></div>
</div>

