
<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active" >
                <div class="fill">
                  <img class="home" src="assets/img/material.png" alt="material" (click)="changeRoute('MaterialType')" />
                </div>
                <div class="carousel-caption">
                    <p class="carousel-desc">Which material shines more?</p>
                    <h2>Material Models</h2>
                </div>
            </div>
            <div class="item" >
                <div class="fill">
                  <img class="home" src="assets/img/camera.png" alt="camera demo" (click)="changeRoute('CameraType')" />
                </div>
                <div class="carousel-caption">
                    <p class="carousel-desc">Battle of realistic view camera!</p>
                    <h2>Camera Types</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" >
                  <img class="home" src="assets/img/light.png" alt="types of light models" (click)="changeRoute('LightType')" />
                </div>
                <div class="carousel-caption">
                    <p class="carousel-desc">Get well knowledge of lights!</p>
                    
                    <h2>Light models</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill">
                  <a href="/viewPipeline" ><img class="home" src="assets/img/pipeline.png" alt="3d viewing pipeline"   /></a>
                </div>
                <div class="carousel-caption">
                    <p class="carousel-desc" style="color: #2222ff">Learn how primitives are processed!</p>
                    <h2>3D viewing pipeling</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<!-- Header Carousel ends -->

<!-- Features Section -->
    <div class="container-fluid" id="page2">
            <div class="row text-center">
                <div class="col-lg-12 ">
                    <h1 class="page-header ">
                        Welcome to {{ title }}
                    </h1>
                </div>
                
                <div class="col-lg-offset-2 col-md-offset-2  col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="glyphicon glyphicon-eye-open"></i> Full 3D way</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-img"><img src="assets/img/3d.jpg" alt="3D way" class="img img-rounded" /></div>
                            <br/>
                            <br/>
                            <div class="panel-body-main"><p>We provide you a full 3D interactive learning platform. You don't have to worry about your system because this application is platform independent.</p>
                            <a (click)="changeRoute('CameraType')" class="btn btn-default">Try yourself</a></div>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="glyphicon glyphicon-th-large"></i> Opensource project</h4>
                        </div>
                        <div class="panel-body">
                            <div class="panel-img">
                                <img src="assets/img/opensource.jpg"  alt="opensource" class="img img-rounded" />
                            </div>
                            <br/>
                            <br/>
                            <div class="panel-body-main">
                                <p>This application is developed using opensource library. And hence this applcation is open to you and any one in this world, also for aliens.
                                </p>
                            <a (click)="changeRoute('About')"  class="btn btn-default">Learn more</a>
                            <a href="https://github.com/priyesh9875/third-view.git" class="btn btn-default">Get the source</a></div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
    </div>
<!-- Features Section ends -->

