<html>

<head>
    <!--jquery-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/styles.css">
    <!-- threejs and related library -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r56/three.min.js"></script>
    <!-- this demo requires threejs r56 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5.1/dat.gui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>

    <script src="/libs/OrbitAndPanControls.min.js"></script>
    <script src="/libs/Coordinates.min.js"></script>

</head>

<body>
    <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Third-view</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/demo">Demo</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/about">About us</a></li>
                            <li><a href="https://github.com/priyesh9875/third-view.git">Source</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <div class="text-center demo">
        <p class="title-demo">Get deep knowledge how primitives are processed</p>

        <div id="graphics-space"></div>
        <p class="text-center" style="color:white"> Modified version of <a href="https://github.com/udacity/cs291/blob/master/demo/unit7-view-pipeline.js">UdaCity cs291</a></p>
    </div>
    <!-- Footer -->
    <div class="footer">
        <div class="footer-content">
            <p>OpenSource: third-view &amp; 2016 <a href="https://github.com/priyesh9875/third-view.git" type="button" class="btn btn-xs btn-success">Follow us on Github</a></p>
        </div>
    </div>
    <!-- Footer ends -->

    <script src="/extras/view.js"></script>
</body>

</html>